*{
    font-family: "Oleo Script", system-ui;
}

body{
    background-image: linear-gradient(to bottom, #0000FF, #FBFF00, #FF002B);
    text-align:center;
    font-family: "Oleo Script", system-ui;
    
    
}

img{
    width:100px;
    hight:auto;
}
button{
    background:transparent;
    border:none;
}
