*{
    font-family: "Patrick Hand", cursive;
}

body{
    background: lightgrey;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjAhWNkkw53LWru6Te0u9bg4kbFgavCjYvidsK9ikSbw&s=10");
    text-align:center;
    font-family: "Patrick Hand", cursive;
}

img{
    width:100px;
    Height:auto;
}

button{
    background:transparent;
    border:none;
}
